.row {
  margin-left: 50px;
}
.form-inline {
  margin: 0 auto;
  width: 400px;
  padding: 10px;
}
select {
  width: 200px;
}
body {
  background: rgba(236, 240, 241,0.6);
  min-height: 675px;
  width: 100%;
  overflow-x: hidden;
}